Repository libzenith/zenith, changes with the owners that CODEOWNERS names for each.
All owners: @neondatabase/control-plane, @neondatabase/compute, @neondatabase/storage, @neondatabase/safekeepers, @neondatabase/autoscaling, @neondatabase/proxy

Bump Postgres version
  vendor/revisions.json
Owners: @neondatabase/compute

Add support of dedicated backends
  vendor/revisions.json
Owners: @neondatabase/compute

Bump Postgres version
  vendor/revisions.json
Owners: @neondatabase/compute

Bump Postgres version
  vendor/revisions.json
Owners: @neondatabase/compute

Bump Postgres version
  vendor/revisions.json
Owners: @neondatabase/compute

Bump Postgres version
  vendor/revisions.json
Owners: @neondatabase/compute

Decrease BACKGROUND_RECONCILE_PERIOD to check how it affects all tests
  storage_controller/src/service.rs
Owners: none

Add more comments explaining correctness of lfc_prefetch
  pgxn/neon/file_cache.c
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Store prefetch results in LFC cache once as soon as they are received
  pgxn/neon/file_cache.c
  pgxn/neon/neon.c
  pgxn/neon/neon.h
  pgxn/neon/pagestore_client.h
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Call lfc_prefetch in prefetch_pump_state
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

fixup: put back plv8
  compute/compute-node.Dockerfile
Owners: none

Refactor how extensions are built in compute Dockerfile
  .github/workflows/build_and_test.yml
  compute/compute-node.Dockerfile
Owners: none

Remove stray comment that claimed pgx_ulid doesn't support v17
  compute/compute-node.Dockerfile
Owners: none

Add overview comment explaining how compute image is constructed
  compute/compute-node.Dockerfile
Owners: none

feat(pageserver): dump read path on missing key error
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/timeline.rs
Owners: @neondatabase/storage

Use Neon's pgbench for pgvector benchmarks
  .github/workflows/benchmarking.yml
Owners: none

Set sanitizer options for building neon and running tests
  .github/actions/run-python-test-set/action.yml
  .github/workflows/_build-and-test-locally.yml
Owners: none

Draft fix for https://github.com/neondatabase/neon/issues/10381
  test_runner/fixtures/pageserver/allowed_errors.py
Owners: none

Increase regression tests' timeout for build with sanitizers
  .github/workflows/_build-and-test-locally.yml
Owners: none

Increase timeouts for test_pg_regress and test_isolation, and also test_tx_abort_with_many_relations to support slow builds with sanitizers
  test_runner/regress/test_pg_regress.py
Owners: none

Pass asan/ubsan options to executables started by neon utilities/scripts
  control_plane/src/background_process.rs
  libs/postgres_ffi/wal_craft/src/lib.rs
  libs/postgres_initdb/src/lib.rs
  libs/utils/scripts/restore_from_wal.sh
  pageserver/src/walredo/process.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers, @neondatabase/storage

Don't run rust tests for build with sanitizers (to avoid failures on previous postgres versions)
  .github/workflows/_build-and-test-locally.yml
Owners: none

Increase timeout for test_subscriber_restart to support slow builds with sanitizers
  test_runner/regress/test_subscriber_restart.py
Owners: none

Add github workflow to build and test postgres-v17 with sanitizers
  .github/workflows/build_and_test_with_sanitizers.yml
Owners: none

Increase stack size for test_isolation to pass with address sanitizer
  test_runner/regress/test_pg_regress.py
Owners: none

Set correct LD_LIBRARY_PATH for postgres client utilities called by storage_controller
  control_plane/src/storage_controller.rs
Owners: none

Invent new build mode to enable sanitizers in Makefile
  .github/workflows/_build-and-test-locally.yml
  Makefile
Owners: none

Fix test_compatibility to work with incompatible postgres libs
  test_runner/regress/test_compatibility.py
Owners: none

Fix logical_replication_sync test fixture Fixes flaky test_lr_with_slow_safekeeper test #10242
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/test_logical_replication.py
  test_runner/regress/test_compute_catalog.py
  test_runner/regress/test_layer_bloating.py
  test_runner/regress/test_logical_replication.py
  test_runner/regress/test_physical_and_logical_replicaiton.py
  test_runner/regress/test_subscriber_branching.py
Owners: none

Take out the cancellation logic from the redis kv client
  proxy/src/redis/kv_ops.rs
Owners: @neondatabase/proxy

Fix merge conflict and clippy
  proxy/src/auth/backend/console_redirect.rs
  proxy/src/auth/backend/mod.rs
  proxy/src/redis/notifications.rs
  proxy/src/serverless/backend.rs
Owners: @neondatabase/proxy

Address clippy comments.
  proxy/src/auth/backend/mod.rs
  proxy/src/control_plane/client/mock.rs
  proxy/src/serverless/backend.rs
Owners: @neondatabase/proxy

First stab at adding VPC endpoint checks
  proxy/src/auth/backend/mod.rs
  proxy/src/auth/mod.rs
  proxy/src/cache/project_info.rs
  proxy/src/context/mod.rs
  proxy/src/control_plane/client/cplane_proxy_v1.rs
  proxy/src/control_plane/client/mock.rs
  proxy/src/control_plane/client/mod.rs
  proxy/src/control_plane/messages.rs
  proxy/src/control_plane/mod.rs
  proxy/src/proxy/tests/mod.rs
  proxy/src/serverless/backend.rs
Owners: @neondatabase/proxy

Formatting fixes
  proxy/src/auth/backend/mod.rs
  proxy/src/auth/mod.rs
  proxy/src/control_plane/client/cplane_proxy_v1.rs
  proxy/src/control_plane/client/mock.rs
  proxy/src/control_plane/client/mod.rs
  proxy/src/metrics.rs
  proxy/src/proxy/tests/mod.rs
  proxy/src/serverless/backend.rs
Owners: @neondatabase/proxy

Added metrics for VPC endpoint IDs
  proxy/src/control_plane/client/cplane_proxy_v1.rs
  proxy/src/metrics.rs
Owners: @neondatabase/proxy

Add check to console redirect proxy to block public access if configured.
  proxy/src/auth/backend/console_redirect.rs
  proxy/src/control_plane/messages.rs
Owners: @neondatabase/proxy

For now of no VCP endpoints are allowed allow all
  proxy/src/auth/backend/mod.rs
Owners: @neondatabase/proxy

Wired up flags to block access over public internet or VPC
  proxy/src/auth/backend/mod.rs
  proxy/src/auth/mod.rs
  proxy/src/bin/local_proxy.rs
  proxy/src/bin/proxy.rs
  proxy/src/cache/project_info.rs
  proxy/src/config.rs
  proxy/src/control_plane/client/cplane_proxy_v1.rs
  proxy/src/control_plane/client/mock.rs
  proxy/src/control_plane/client/mod.rs
  proxy/src/control_plane/mod.rs
  proxy/src/metrics.rs
  proxy/src/proxy/tests/mod.rs
  proxy/src/serverless/backend.rs
Owners: @neondatabase/proxy

Split get_allowed_ips_and_secret into 3 functions
  proxy/src/auth/backend/mod.rs
  proxy/src/control_plane/client/cplane_proxy_v1.rs
  proxy/src/control_plane/client/mock.rs
  proxy/src/control_plane/client/mod.rs
  proxy/src/control_plane/messages.rs
  proxy/src/control_plane/mod.rs
  proxy/src/proxy/tests/mod.rs
  proxy/src/serverless/backend.rs
Owners: @neondatabase/proxy

Formatting fixes.
  proxy/src/cache/project_info.rs
  proxy/src/serverless/backend.rs
Owners: @neondatabase/proxy

CODEOWNERS:

/compute_tools/ @neondatabase/control-plane @neondatabase/compute
/control_plane/attachment_service @neondatabase/storage
/libs/pageserver_api/ @neondatabase/storage
/libs/postgres_ffi/ @neondatabase/compute @neondatabase/safekeepers
/libs/remote_storage/ @neondatabase/storage
/libs/safekeeper_api/ @neondatabase/safekeepers
/libs/vm_monitor/ @neondatabase/autoscaling
/pageserver/ @neondatabase/storage
/pgxn/ @neondatabase/compute
/pgxn/neon/ @neondatabase/compute @neondatabase/safekeepers
/proxy/ @neondatabase/proxy
/safekeeper/ @neondatabase/safekeepers
/vendor/ @neondatabase/compute
