Repository libzenith/zenith, changes with the owners that CODEOWNERS names for each.
All owners: @neondatabase/control-plane, @neondatabase/compute, @neondatabase/storage, @neondatabase/safekeepers, @neondatabase/autoscaling, @neondatabase/proxy

CODEOWNERS:

/compute_tools/ @neondatabase/control-plane @neondatabase/compute
/control_plane/attachment_service @neondatabase/storage
/libs/pageserver_api/ @neondatabase/storage
/libs/postgres_ffi/ @neondatabase/compute @neondatabase/safekeepers
/libs/remote_storage/ @neondatabase/storage
/libs/safekeeper_api/ @neondatabase/safekeepers
/libs/vm_monitor/ @neondatabase/autoscaling
/pageserver/ @neondatabase/storage
/pgxn/ @neondatabase/compute
/pgxn/neon/ @neondatabase/compute @neondatabase/safekeepers
/proxy/ @neondatabase/proxy
/safekeeper/ @neondatabase/safekeepers
/vendor/ @neondatabase/compute

pgxn/neon compatibility changes for smgr_truncate
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Address review comments
  pgxn/neon/file_cache.c
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Make CPU & memory size in fast_import configurable
  compute_tools/src/bin/fast_import.rs
Owners: @neondatabase/control-plane, @neondatabase/compute

WIP: temp .dockerignore change
  .dockerignore
Owners: none

Only include source files needed to build compute_ctl
  compute/compute-node.Dockerfile
Owners: none

Compile pgbouncer with systemd support
  compute/compute-node.Dockerfile
Owners: none

compute: Enable building VM images suitable for lauching with neonvm-guest
  compute/compute-node.Dockerfile
  compute/etc/systemd/system/compute_ctl.service
  compute/etc/systemd/system/local_proxy.service
  compute/etc/systemd/system/pgbouncer.service
  compute/etc/systemd/system/postgres_exporter.service
  compute/etc/systemd/system/sql_exporter-autoscaling.service
  compute/etc/systemd/system/sql_exporter.service
Owners: none

add chown-pgdata
  compute/compute-node.Dockerfile
  compute/etc/systemd/system/chown-pgdata.service
Owners: none

Use neonvm-daemon's control socket for swap resizing and setting disk quota
  Cargo.lock
  compute_tools/Cargo.toml
  compute_tools/src/bin/compute_ctl.rs
  compute_tools/src/bin/fast_import.rs
  compute_tools/src/disk_quota.rs
  compute_tools/src/lib.rs
  compute_tools/src/neonvmd_client.rs
  compute_tools/src/swap.rs
Owners: @neondatabase/control-plane, @neondatabase/compute

Build cgroup-tools
  compute/compute-node.Dockerfile
  compute/etc/cgconfig.conf
  compute/etc/systemd/system/compute_ctl.service
Owners: none

make root cgroup.procs writable
  compute/compute-node.Dockerfile
  compute/etc/systemd/system/load-cgconfig.service
  compute/etc/systemd/system/make-cgroup-procs-writable.service
Owners: none

Set PRFSF_LFC conditionally if lfc_prefetch succeed
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Bump 14 and 15 too
  .gitmodules
  vendor/revisions.json
Owners: @neondatabase/compute

inmem_truncate compat
  pgxn/neon_walredo/inmem_smgr.c
Owners: @neondatabase/compute

resolve comments
  libs/pageserver_api/src/key.rs
  pageserver/src/pgdatadir_mapping.rs
  test_runner/regress/test_relations.py
Owners: @neondatabase/storage

return 409 if conf switch is ignored
  safekeeper/src/http/routes.rs
  test_runner/regress/test_wal_acceptor.py
Owners: @neondatabase/safekeepers

one more delete force -> delete rename, deduplicate directory removal func
  safekeeper/src/http/routes.rs
  safekeeper/src/timeline.rs
  safekeeper/src/timelines_global_map.rs
Owners: @neondatabase/safekeepers

exclude api
  libs/safekeeper_api/src/membership.rs
  safekeeper/src/http/routes.rs
  safekeeper/src/timeline.rs
  safekeeper/src/timelines_global_map.rs
  test_runner/fixtures/safekeeper/http.py
  test_runner/regress/test_wal_acceptor.py
Owners: @neondatabase/safekeepers

rm was_active from delete result, rename deleteforce to delete
  safekeeper/src/http/routes.rs
  safekeeper/src/timelines_global_map.rs
  test_runner/regress/test_wal_acceptor.py
Owners: @neondatabase/safekeepers

make membership switch PUT instead of POST
  safekeeper/src/http/routes.rs
  test_runner/fixtures/safekeeper/http.py
Owners: @neondatabase/safekeepers

make sks follow gen rules
  safekeeper/src/safekeeper.rs
  safekeeper/src/state.rs
  safekeeper/src/wal_storage.rs
Owners: @neondatabase/safekeepers

pageserver: add API for hydrating heatmap contents
  pageserver/src/http/routes.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/heatmap_layers_downloader.rs
Owners: @neondatabase/storage

storcon: add endpoint to hydrate heatmap contents on all shards
  libs/utils/src/shard.rs
  pageserver/client/src/mgmt_api.rs
  storage_controller/src/http.rs
  storage_controller/src/pageserver_client.rs
  storage_controller/src/service.rs
Owners: @neondatabase/storage

storcon_cli: add new command for downloading heatmap layers
  control_plane/storcon_cli/src/main.rs
Owners: none

tests: use new endpoint in cold migration test
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_pageserver_secondary.py
Owners: none

Do no strip pgstat.stat file name
  pageserver/src/aux_file.rs
Owners: @neondatabase/storage

fast_import: Use rust s3 client for uploading
  Cargo.lock
  compute/compute-node.Dockerfile
  compute_tools/Cargo.toml
  compute_tools/src/bin/fast_import.rs
  compute_tools/src/bin/fast_import/aws_s3_sync.rs
Owners: @neondatabase/control-plane, @neondatabase/compute

fix running without s3
  compute_tools/src/bin/fast_import.rs
Owners: @neondatabase/control-plane, @neondatabase/compute

Integrate cargo-chef into Dockerfile
  Dockerfile
  build-tools.Dockerfile
Owners: none

Add additional prefetch pump after read
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Handle new compute_ctl_config parameter in compute spec requests
  Cargo.lock
  compute_tools/Cargo.toml
  compute_tools/src/bin/compute_ctl.rs
  compute_tools/src/spec.rs
  libs/compute_api/Cargo.toml
  libs/compute_api/src/requests.rs
  libs/compute_api/src/responses.rs
Owners: @neondatabase/control-plane, @neondatabase/compute

fix(pageserver): ensure all basebackup client errors are caught
  pageserver/src/basebackup.rs
  pageserver/src/page_service.rs
Owners: @neondatabase/storage

CI(allure-report-*): Use logs grouping
  .github/actions/allure-report-generate/action.yml
  .github/actions/allure-report-store/action.yml
Owners: none

CI(allure-report-generate): bump Allure from 2.27.0 to 2.32.2
  .github/actions/allure-report-generate/action.yml
Owners: none

test_runner: bump allure-pytest to the latest version
  poetry.lock
  pyproject.toml
Owners: none

CI(run-python-test-set): add runner arch to Allure artifact name
  .github/actions/run-python-test-set/action.yml
Owners: none

CI(allure-report-*): use `github.event` instead of `GITHUB_EVENT_PATH`
  .github/actions/allure-report-generate/action.yml
  .github/actions/allure-report-store/action.yml
Owners: none
