Repository libzenith/zenith, changes with the owners that CODEOWNERS names for each.
All owners: @neondatabase/control-plane, @neondatabase/compute, @neondatabase/storage, @neondatabase/safekeepers, @neondatabase/autoscaling, @neondatabase/proxy

Added some more wiring of the cache
  proxy/src/cache/project_info.rs
  proxy/src/control_plane/client/cplane_proxy_v1.rs
Owners: @neondatabase/proxy

Wired up invalidation of VPC endpoint IDs and block public / private.
  proxy/src/cache/project_info.rs
  proxy/src/control_plane/client/cplane_proxy_v1.rs
  proxy/src/control_plane/messages.rs
  proxy/src/control_plane/mod.rs
  proxy/src/intern.rs
  proxy/src/metrics.rs
  proxy/src/redis/notifications.rs
  proxy/src/serverless/backend.rs
  proxy/src/types.rs
Owners: @neondatabase/proxy

Formatting fixed.
  proxy/src/auth/backend/mod.rs
  proxy/src/cache/project_info.rs
  proxy/src/control_plane/client/cplane_proxy_v1.rs
  proxy/src/control_plane/client/mock.rs
  proxy/src/control_plane/client/mod.rs
  proxy/src/control_plane/mod.rs
  proxy/src/proxy/tests/mod.rs
Owners: @neondatabase/proxy

Addresses review comments from Ivan
  proxy/src/auth/backend/mod.rs
  proxy/src/control_plane/client/mock.rs
Owners: @neondatabase/proxy

Add to the cancellation VPC logic
  proxy/src/auth/backend/console_redirect.rs
  proxy/src/auth/backend/mod.rs
  proxy/src/cancellation.rs
  proxy/src/console_redirect_proxy.rs
  proxy/src/proxy/mod.rs
  proxy/src/redis/kv_ops.rs
  proxy/src/redis/notifications.rs
Owners: @neondatabase/proxy

Move cargo-deny into a separate workflow on a schedule
  .github/actionlint.yml
  .github/file-filters.yaml
  .github/workflows/_check-codestyle-rust.yml
  .github/workflows/build_and_test.yml
  .github/workflows/cargo-deny.yml
Owners: none

pageserver: fix race during timeline bootstrap
  pageserver/src/tenant.rs
  pageserver/src/tenant/timeline/uninit.rs
Owners: @neondatabase/storage

One more try
  .github/workflows/_check-codestyle-rust.yml
Owners: none

proxy: Switch proxy to JSON logging
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  deny.toml
  proxy/Cargo.toml
  proxy/src/logging.rs
Owners: @neondatabase/proxy

pageserver: add `l0_flush_wait_upload` setting
  control_plane/src/pageserver.rs
  libs/pageserver_api/src/config.rs
  libs/pageserver_api/src/models.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/config.rs
  pageserver/src/tenant/timeline.rs
Owners: @neondatabase/storage

Run tests with shorter BACKGROUND_RECONCILE_PERIOD
  storage_controller/src/service.rs
Owners: none

Authorize compute_ctl requests from the control plane
  Cargo.lock
  Cargo.toml
  compute_tools/Cargo.toml
  compute_tools/src/http/headers.rs
  compute_tools/src/http/middleware/authorize.rs
  compute_tools/src/http/middleware/mod.rs
  compute_tools/src/http/mod.rs
  compute_tools/src/http/server.rs
  control_plane/src/endpoint.rs
  libs/compute_api/Cargo.toml
  libs/compute_api/src/spec.rs
  workspace_hack/Cargo.toml
Owners: @neondatabase/control-plane, @neondatabase/compute

Retrieve initial JWKS when compute is empty
  compute_tools/src/bin/compute_ctl.rs
  compute_tools/src/compute.rs
  compute_tools/src/http/routes/configure.rs
  compute_tools/src/http/routes/extension_server.rs
  compute_tools/src/http/routes/mod.rs
  compute_tools/src/http/server.rs
  compute_tools/src/lsn_lease.rs
  compute_tools/src/spec.rs
  libs/compute_api/src/responses.rs
Owners: @neondatabase/control-plane, @neondatabase/compute

Add pgaudit and pgauditlogtofile extensions to compute node Dockerfile. v17 only
  compute/compute-node.Dockerfile
Owners: none

WIP: setup pgaudit and pgauditlogtofile extensions in compute_ctl
  compute_tools/src/compute.rs
  compute_tools/src/spec_apply.rs
  control_plane/src/endpoint.rs
  libs/compute_api/src/spec.rs
Owners: @neondatabase/control-plane, @neondatabase/compute

Store prefetch results in LFC cache once as soon as they are received
  pgxn/neon/file_cache.c
  pgxn/neon/neon.c
  pgxn/neon/neon.h
  pgxn/neon/pagestore_client.h
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Add more comments explaining correctness of lfc_prefetch
  pgxn/neon/file_cache.c
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Call lfc_prefetch in prefetch_pump_state
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Remove lfc_evict and aways redo pages present in LFC
  pgxn/neon/file_cache.c
  pgxn/neon/pagestore_client.h
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Report number of evicted pages
  pgxn/neon/file_cache.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Add PRFSF_LFC flag to mark prefetch response stored in LFC
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Add test for prefetch in LFC
  pgxn/neon/file_cache.c
  pgxn/neon/pagestore_client.h
  pgxn/neon/pagestore_smgr.c
  test_runner/regress/test_lfc_prefetch.py
Owners: @neondatabase/compute, @neondatabase/safekeepers

Fix prefetch test
  pgxn/neon/file_cache.c
  pgxn/neon/pagestore_smgr.c
  test_runner/regress/test_lfc_prefetch.py
Owners: @neondatabase/compute, @neondatabase/safekeepers

Fix test
  test_runner/regress/test_lfc_prefetch.py
Owners: none

Fix conflict
  pgxn/neon/file_cache.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

feat: teach proxy how to load extra internal root CA certificates
  proxy/src/tls/client_config.rs
Owners: @neondatabase/proxy

chore: optimisation: allow proxy connect_compute to discriminate between host_addr and host_name
  libs/proxy/tokio-postgres2/src/config.rs
  proxy/src/compute.rs
Owners: @neondatabase/proxy

feat: parse the compute_id that control plane returns to proxy
  proxy/src/auth/backend/local.rs
  proxy/src/control_plane/client/mock.rs
  proxy/src/control_plane/messages.rs
  proxy/src/proxy/tests/mod.rs
  proxy/src/serverless/conn_pool.rs
Owners: @neondatabase/proxy

feat: if compute addr is an ip, replace hostname with a cluster local addr
  proxy/src/control_plane/client/cplane_proxy_v1.rs
Owners: @neondatabase/proxy

fixup! chore: optimisation: allow proxy connect_compute to discriminate between host_addr and host_name
  libs/proxy/tokio-postgres2/src/config.rs
Owners: none

fixup! feat: parse the compute_id that control plane returns to proxy
  proxy/src/control_plane/messages.rs
Owners: @neondatabase/proxy

fix: use host_addr while connecting
  libs/proxy/tokio-postgres2/src/cancel_query.rs
  libs/proxy/tokio-postgres2/src/client.rs
  libs/proxy/tokio-postgres2/src/connect.rs
  libs/proxy/tokio-postgres2/src/connect_socket.rs
Owners: none

fix mock
  proxy/src/control_plane/client/mock.rs
Owners: @neondatabase/proxy

fmt and fix link_auth test
  libs/proxy/tokio-postgres2/src/cancel_query.rs
  proxy/src/tls/client_config.rs
  test_runner/fixtures/neon_fixtures.py
Owners: @neondatabase/proxy

drop
  safekeeper/src/handler.rs
  safekeeper/src/json_ctrl.rs
  safekeeper/src/lib.rs
Owners: @neondatabase/safekeepers

drop json_ctrl tests
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_wal_acceptor.py
Owners: none

fix auth-broker
  test_runner/fixtures/neon_fixtures.py
Owners: none

fixup! fix auth-broker
  proxy/src/serverless/backend.rs
Owners: @neondatabase/proxy

simplify some changes
  libs/proxy/tokio-postgres2/src/connect_socket.rs
  proxy/src/compute.rs
Owners: @neondatabase/proxy

Try to read prefetched results from prefetch ring before searching for them in LFC
  pgxn/neon/file_cache.c
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

CODEOWNERS:

/compute_tools/ @neondatabase/control-plane @neondatabase/compute
/control_plane/attachment_service @neondatabase/storage
/libs/pageserver_api/ @neondatabase/storage
/libs/postgres_ffi/ @neondatabase/compute @neondatabase/safekeepers
/libs/remote_storage/ @neondatabase/storage
/libs/safekeeper_api/ @neondatabase/safekeepers
/libs/vm_monitor/ @neondatabase/autoscaling
/pageserver/ @neondatabase/storage
/pgxn/ @neondatabase/compute
/pgxn/neon/ @neondatabase/compute @neondatabase/safekeepers
/proxy/ @neondatabase/proxy
/safekeeper/ @neondatabase/safekeepers
/vendor/ @neondatabase/compute
