Repository libzenith/zenith, changes with the owners that CODEOWNERS names for each.
All owners: @neondatabase/control-plane, @neondatabase/compute, @neondatabase/storage, @neondatabase/safekeepers, @neondatabase/autoscaling, @neondatabase/proxy

CODEOWNERS:

/compute_tools/ @neondatabase/control-plane @neondatabase/compute
/control_plane/attachment_service @neondatabase/storage
/libs/pageserver_api/ @neondatabase/storage
/libs/postgres_ffi/ @neondatabase/compute @neondatabase/safekeepers
/libs/remote_storage/ @neondatabase/storage
/libs/safekeeper_api/ @neondatabase/safekeepers
/libs/vm_monitor/ @neondatabase/autoscaling
/pageserver/ @neondatabase/storage
/pgxn/ @neondatabase/compute
/pgxn/neon/ @neondatabase/compute @neondatabase/safekeepers
/proxy/ @neondatabase/proxy
/safekeeper/ @neondatabase/safekeepers
/vendor/ @neondatabase/compute

Fix handling results of lfc_readv_select
  pgxn/neon/file_cache.c
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Fix lfc_read trampoline
  pgxn/neon/pagestore_client.h
  pgxn/neon/pagestore_smgr.c
Owners: @neondatabase/compute, @neondatabase/safekeepers

Add AUX_DIR_PG_STAT
  pageserver/src/aux_file.rs
Owners: @neondatabase/storage

Add test for restoring pgstat file
  test_runner/regress/test_pgstat.py
Owners: none

Fix python fiormating
  test_runner/regress/test_pgstat.py
Owners: none

Fix bug in AUX v1 delta optimization
  test_runner/regress/test_import.py
Owners: none

Do not import AUX files while initializing fresh timeline from pgdatadir
  pageserver/src/import_datadir.rs
Owners: @neondatabase/storage

Make clippy happy
  pageserver/src/import_datadir.rs
  test_runner/regress/test_pgstat.py
Owners: @neondatabase/storage

Fix bug in including AUX files in basebacklup
  pageserver/ctl/src/key.rs
  pageserver/src/import_datadir.rs
Owners: @neondatabase/storage

Add neon_pgstat_file_size_limit GUC to limit size of AUX file for pg_stat
  vendor/revisions.json
Owners: @neondatabase/compute

Drop pg_stat data in case of abnormal Postgres termination
  libs/postgres_ffi/src/lib.rs
  pageserver/src/basebackup.rs
  pageserver/src/walingest.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers, @neondatabase/storage

Handle lack of checkpoint in basebackup
  pageserver/src/basebackup.rs
Owners: @neondatabase/storage

Make clippy happy
  pageserver/src/basebackup.rs
Owners: @neondatabase/storage

Add test that pgstat information is dropped in case of abnormal termination
  test_runner/regress/test_pgstat.py
Owners: none

Update test_runner/regress/test_pgstat.py
  test_runner/regress/test_pgstat.py
Owners: none

Add comments
  pageserver/src/aux_file.rs
  pageserver/src/basebackup.rs
Owners: @neondatabase/storage

Update pageserver/src/basebackup.rs
  pageserver/src/basebackup.rs
Owners: @neondatabase/storage

Update test_runner/regress/test_pgstat.py
  test_runner/regress/test_pgstat.py
Owners: none

Fix is_aux_file_key
  libs/pageserver_api/src/key.rs
Owners: @neondatabase/storage

Undo debug trace
  pageserver/src/tenant/timeline.rs
Owners: @neondatabase/storage

Disable importing AX files
  pageserver/src/import_datadir.rs
Owners: @neondatabase/storage

Add calculate_walrecord_end_lsn function
  libs/postgres_ffi/src/lib.rs
  libs/postgres_ffi/src/xlog_utils.rs
  pageserver/src/basebackup.rs
  pageserver/src/tenant/timeline.rs
  test_runner/regress/test_import.py
Owners: @neondatabase/compute, @neondatabase/safekeepers, @neondatabase/storage

Update pageserver/src/basebackup.rs
  pageserver/src/basebackup.rs
Owners: @neondatabase/storage

Do not import AUX files
  libs/pageserver_api/src/key.rs
  pageserver/src/import_datadir.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
Owners: @neondatabase/storage

Increase wait LSN timeout to 2 seconds
  test_runner/regress/test_wal_receiver.py
Owners: none

Increase timeout to 10 seconds
  test_runner/regress/test_wal_receiver.py
Owners: none

Add SIZE_OF_XLOG_RECORD_DATA_HEADER_SHORT
  libs/postgres_ffi/src/pg_constants.rs
  pageserver/src/basebackup.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers, @neondatabase/storage

Use new version of test_wal_recevier test
  test_runner/regress/test_wal_receiver.py
Owners: none

Yet another attempt to make test_wal_receiver test pass
  test_runner/regress/test_wal_receiver.py
Owners: none

Undo changes test_import.py
  test_runner/regress/test_import.py
Owners: none

Remove AuxFileStore from test_pgstat.py
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  test_runner/regress/test_pgstat.py
Owners: @neondatabase/storage

Fix compile warnings
  libs/postgres_ffi/src/lib.rs
  pageserver/src/basebackup.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers, @neondatabase/storage

Remove calculate_walrecord_end_lsn function
  libs/postgres_ffi/src/xlog_utils.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers

Use redo field to distinguish shutdown andonine checkpoints
  pageserver/src/basebackup.rs
  pageserver/src/walingest.rs
Owners: @neondatabase/storage

Reset checkpoiunt redo field after storing it to correctly detect normal shutdown
  pageserver/src/walingest.rs
Owners: @neondatabase/storage

Ignore 'removing non-existing aux file' warning
  test_runner/regress/test_pg_regress.py
Owners: none

Fix compiler error
  libs/postgres_ffi/src/xlog_utils.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers

Abuse Checkpoint.redo field to distinguish shutdown checkpoints (#10010)
  libs/postgres_ffi/src/lib.rs
  libs/postgres_ffi/src/pg_constants.rs
  libs/postgres_ffi/src/xlog_utils.rs
  pageserver/src/basebackup.rs
  pageserver/src/walingest.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers, @neondatabase/storage

Add 'failed get control bytes' and 'failed to get checkpoint bytes' to list of expected errors
  pageserver/src/walingest.rs
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_timeline_archive.py
Owners: @neondatabase/storage

Always assign checkpoint.redo in generate_pg_control
  libs/postgres_ffi/src/xlog_utils.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers
