Repository libzenith/zenith, changes with the owners that CODEOWNERS names for each.
All owners: @neondatabase/control-plane, @neondatabase/compute, @neondatabase/storage, @neondatabase/safekeepers, @neondatabase/autoscaling, @neondatabase/proxy

CODEOWNERS:

/compute_tools/ @neondatabase/control-plane @neondatabase/compute
/control_plane/attachment_service @neondatabase/storage
/libs/pageserver_api/ @neondatabase/storage
/libs/postgres_ffi/ @neondatabase/compute @neondatabase/safekeepers
/libs/remote_storage/ @neondatabase/storage
/libs/safekeeper_api/ @neondatabase/safekeepers
/libs/vm_monitor/ @neondatabase/autoscaling
/pageserver/ @neondatabase/storage
/pgxn/ @neondatabase/compute
/pgxn/neon/ @neondatabase/compute @neondatabase/safekeepers
/proxy/ @neondatabase/proxy
/safekeeper/ @neondatabase/safekeepers
/vendor/ @neondatabase/compute

Fix compiler error
  libs/postgres_ffi/src/xlog_utils.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers

Add test for too larger staistics file
  test_runner/regress/test_pgstat.py
Owners: none

Mkae clippy happy
  libs/postgres_ffi/src/xlog_utils.rs
Owners: @neondatabase/compute, @neondatabase/safekeepers

Update pageserver/src/basebackup.rs
  pageserver/src/basebackup.rs
Owners: @neondatabase/storage

Do not exclude AUX_FILES_KEY from test for oversized vecrtored read
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
Owners: @neondatabase/storage

Replace removing non-existing aux file warning with info
  pageserver/src/pgdatadir_mapping.rs
Owners: @neondatabase/storage

Bump Postgres vresions
  vendor/revisions.json
Owners: @neondatabase/compute

Add comment explaining attempt to delete unexisted AUX file
  pageserver/src/pgdatadir_mapping.rs
Owners: @neondatabase/storage

Update expected error message
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_timeline_archive.py
Owners: none

Address review comments
  test_runner/regress/test_pg_regress.py
  test_runner/regress/test_pgstat.py
Owners: none

Update test_runner/regress/test_pgstat.py
  test_runner/regress/test_pgstat.py
Owners: none

Disable autovacuum in test_pgstat
  test_runner/regress/test_pgstat.py
Owners: none

Increase default value of neon_pgstat_file_size_limit to 16Mb
  vendor/revisions.json
Owners: @neondatabase/compute

Undo unrelaterd changes
  vendor/revisions.json
Owners: @neondatabase/compute

Undo unrelated changes
  vendor/revisions.json
Owners: @neondatabase/compute

fix dup check
  pageserver/src/pgdatadir_mapping.rs
Owners: @neondatabase/storage

refactor metrics
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant/timeline.rs
Owners: @neondatabase/storage

feat(pageserver): store reldir in sparse keyspace
  libs/pageserver_api/src/config.rs
  libs/pageserver_api/src/key.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/config.rs
  pageserver/src/tenant/timeline.rs
Owners: @neondatabase/storage

fix bug wrt rel drop
  pageserver/src/pgdatadir_mapping.rs
Owners: @neondatabase/storage

resolve comments - part 1
  pageserver/src/pgdatadir_mapping.rs
Owners: @neondatabase/storage

resolve comments - part 2
  pageserver/src/pgdatadir_mapping.rs
Owners: @neondatabase/storage

decode reldirexists marker
  libs/pageserver_api/src/key.rs
  pageserver/src/pgdatadir_mapping.rs
Owners: @neondatabase/storage

add e2e test
  test_runner/regress/test_relations.py
Owners: none

read path checks both v1+v2
  pageserver/src/pgdatadir_mapping.rs
Owners: @neondatabase/storage

sum up reldir 1+2 counts
  test_runner/regress/test_tenants.py
Owners: none

test(pageserver): add reldir v2 into tests
  test_runner/regress/test_pg_regress.py
Owners: none

Remove hacks in compute_ctl related to compute ID
  compute_tools/src/bin/compute_ctl.rs
  control_plane/src/endpoint.rs
  docker-compose/compute_wrapper/shell/compute.sh
Owners: @neondatabase/control-plane, @neondatabase/compute

WIP add rsyslog setup
  compute/compute-node.Dockerfile
  compute_tools/src/compute.rs
  compute_tools/src/config.rs
Owners: @neondatabase/control-plane, @neondatabase/compute

pageserver: add tracing configuration knobs
  Cargo.lock
  libs/pageserver_api/Cargo.toml
  libs/pageserver_api/src/config.rs
  pageserver/src/config.rs
  test_runner/fixtures/neon_fixtures.py
Owners: @neondatabase/storage

pageserver: clean up request context api
  pageserver/src/context.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline/compaction.rs
Owners: @neondatabase/storage

tracing-utils: allow for explicit export config
  compute_tools/src/logger.rs
  libs/tracing-utils/src/lib.rs
  proxy/src/logging.rs
Owners: @neondatabase/control-plane, @neondatabase/compute, @neondatabase/proxy

pageserver: add perf span utilities to request context
  pageserver/src/context.rs
Owners: @neondatabase/storage

pageserver: add new runtime for performance spans
  pageserver/src/task_mgr.rs
Owners: @neondatabase/storage

tracing-utils: add perf span tracking utilities
  Cargo.lock
  libs/tracing-utils/Cargo.toml
  libs/tracing-utils/src/lib.rs
  libs/tracing-utils/src/perf_span.rs
Owners: none

utils: allow for setting up OTEL tracing subscriber
  Cargo.lock
  compute_tools/src/bin/fast_import.rs
  libs/desim/tests/reliable_copy_test.rs
  libs/remote_storage/tests/common/mod.rs
  libs/utils/Cargo.toml
  libs/utils/src/logging.rs
  pageserver/Cargo.toml
  pageserver/compaction/tests/tests.rs
  pageserver/ctl/src/main.rs
  pageserver/pagebench/src/main.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/tenant.rs
  safekeeper/src/bin/safekeeper.rs
  storage_broker/src/bin/storage_broker.rs
  storage_controller/src/main.rs
Owners: @neondatabase/control-plane, @neondatabase/compute, @neondatabase/storage, @neondatabase/safekeepers

pageserver: thread otel dispatch into connection req context
  pageserver/src/bin/pageserver.rs
  pageserver/src/page_service.rs
Owners: @neondatabase/storage

pageserver: add get page perf tracing
  pageserver/src/page_service.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline.rs
Owners: @neondatabase/storage

tests: enable sampling with zero ration in tput tests
  test_runner/fixtures/pageserver/allowed_errors.py
  test_runner/performance/pageserver/pagebench/test_pageserver_max_throughput_getpage_at_latest_lsn.py
Owners: none

squash
  control_plane/src/pageserver.rs
  control_plane/storcon_cli/src/main.rs
  libs/pageserver_api/src/config.rs
  libs/pageserver_api/src/config/tests.rs
  libs/pageserver_api/src/controller_api.rs
  pageserver/src/controller_upcall_client.rs
  storage_controller/migrations/2025-02-11-144848_pageserver_use_https/down.sql
  storage_controller/migrations/2025-02-11-144848_pageserver_use_https/up.sql
  storage_controller/src/node.rs
  storage_controller/src/persistence.rs
  storage_controller/src/scheduler.rs
  storage_controller/src/schema.rs
  storage_controller/src/service.rs
Owners: @neondatabase/storage

chore(compute): Postgres 17.3, 16.7, etc.
  .gitmodules
  vendor/revisions.json
Owners: @neondatabase/compute
